<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MailboxName</key>
	<string>/Users/fender/steviep42.bitbucket.org/bios560rs2014/HOMEWORK.DIR/HOMEWORK3.DIR/hw3_ungraded/BIOS560R_Spring_2014_HW3.partial.mbox</string>
</dict>
</plist>
